<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="COMPANY_CODE" value="01"/>
    <add key="UserLevel" value="1"/>
    <add key="UserEmp" value="003"/>
  </appSettings>
  <connectionStrings>
    <!---Change connection string as per your database server-->
    <add name="AscentDB" connectionString="Data Source=MANOJ-ENCORE;Initial Catalog=AscentDB;User ID=sa; Pwd=god;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages clientIDMode="Static">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false"/>
    </httpHandlers>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880"/>
    </authentication>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="Telerik.Web.UI.WebResource" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
    </handlers>
  </system.webServer>
</configuration>
