.RadRotator_Office2010Silver {
  /*================== The list ========================*/
  /* For vertical carousel, not set, width defaults to auto */
  /* Note if you explicitly set width to auto, this might cause */
  /* problems with Safari */
  /* When LoadOnDemand */ }
  .RadRotator_Office2010Silver .rrClipRegion {
    border-color: #9aa0a6; }
  .RadRotator_Office2010Silver .rrButton {
    background-image: url('Rotator/RotatorButtons.gif');
    background-repeat: no-repeat; }
  .RadRotator_Office2010Silver .rrLoadingSign {
    background: url('Common/loading_small.gif') no-repeat center; }

